<header>
  <nav>
    <div class="logo">
      <%- include('./svg/logo') %>
      <h2 class="logo-text">Books <span>Champer</span></h2>
    </div>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#shelf">Shelf</a></li>
      <li>
        <i class="far fa-bookmark">
          (<span class="no"><%- length -1 %></span>)
        </i>
      </li>
    </ul>
  </nav>
</header>
