<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles/base.css" />
  </head>
  <body class="home">
    <h2>books currently stored: <%- length %></h2>
    <a href="/searches/new">Search</a>
    <% booksData.forEach(element => { %> <%- include('./layout/book', {elementD:
    element}) %>
    <a href="/books/<%=element.id  %>">View Details</a>
    <% }) %>
  </body>
</html>
