<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/base.css" />
    <link rel="stylesheet" href="styles/layout.css" />
    <link rel="stylesheet" href="styles/modules.css" />
    <link rel="stylesheet" href="styles/theme.css" />
    <link rel="stylesheet" href="styles/state.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>
  <body class="home">
    <%- include('./layout/header', {length: length, flag: true}) %>
    <main>
      <div class="hero">
        <%- include('./layout/svg/eclipse10') %>
        <h2>Are you ready to find yourself ?</h2>
        <p>
          I belive something very magical can happen when you read a good book.
        </p>
        <a id="explore" href="/searches/new">Search ></a>
      </div>

      <div id="shelf" class="grid-ctr">
        <% booksData.forEach(element => { %> <%- include('./layout/book',
        {elementD: element, token: false}) %> <% }) %>
      </div>
    </main>
    <script
      src="https://kit.fontawesome.com/fb27425b9e.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 900,
      });
    </script>
  </body>
</html>
