<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="block-all-mixed-content"
    />
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/base.css" />
    <link rel="stylesheet" href="styles/layout.css" />
    <link rel="stylesheet" href="styles/modules.css" />
    <link rel="stylesheet" href="styles/theme.css" />
    <link rel="stylesheet" href="styles/state.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <%- include('./layout/header', {flag: false }) %>
    <form action="/searches" method="POST">
      <input type="text" placeholder="Search for a book.." name="query" />
      <input type="radio" name="type" id="title" value="intitle" />
      <label for="title">Title</label>
      <input type="radio" name="type" id="author" value="inauthor" />
      <label for="title">Author</label>
      <button>Search</button>
    </form>
  </body>
</html>
